body { 
  background-color: lightblue;
}

header{
	text-align: center;
}

#start{
	height: 600px;
	width: 480px;
	margin: 0 auto;
}

#zelda {
	margin: 0 auto;
	display: none;
}

.buttons{
	display: none;
}

.win {
	position: relative;
	display: none;
	text-align: center;
}

.win h1 {
	background-color: rgba(0,0,0,.5);
	color: white;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
	position: absolute;
}

#triforce {
	height: 600px;
	width: 480px;
}

.lose {
	display: none;
	text-align: center;
}

#gameover {
	height: 600px;
	width: 480px;
}

.instructions{
	background-color: white;
}

@media screen and (max-width: 1080px){
	.buttons{
		display: block;
		text-align: center;
	}
	button{
		border-radius: 5px;
		border: none;
		background-color: black;
		color: gray;
	}

	#up, #down{
		display: block;
		margin: 0 auto;
		height: 100px;
		width: 70px;
	}

	#left, #right{
		margin: 0 35px;
		height: 70px;
		width: 100px;
	}

	#attack{
		display: inline;
		position: absolute;
		right: 20%;
		border-radius: 50px;
		height: 70px;
		width: 70px;
		background-color: red;
		color: black;
	}
}