
/*html { 
  background: url(../images/great wave.png); 
  background-size: cover;
}*/

#start {
	width: 800px;
	height: 800px;
}


header {
	display: flex;
	justify-content: center;
}

#zelda {
	display: none;
}

main {
	display: flex;
	justify-content: center;
}

.win {
	position: relative;
	display: none;
	justify-content: center;
}

.win h1 {
	background-color: rgba(0,0,0,.5);
	color: white;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
	position: absolute;

}

.lose {
	display: none;
	justify-content: center;
}

#triforce {
	width: 800px;
	height: 800px;
}

#gameover {
	width: 800px;
	height: 800px;
}

